# ==========================
# Virtual environments
# ==========================

.venv/
venv/
env/
pytorch_env/

# ==========================
# Python cache
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Python distribution
# ==========================

*.egg-info/
dist/
build/

# ==========================
# Dataset
# ==========================

flowers/
Output/
Output_two/
unknown_test/

# ==========================
# Large model files
# ==========================


*.pt
*.onnx

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment / secrets
# ==========================

.env
.env.*

# ==========================
# OS files
# ==========================

.DS_Store
Thumbs.db